:root {
  --theme-color: #52b3d0;
  --theme-color2: #52b3d0;
}

/* ... */

.pruebasass {
  background-color: var(--theme-color);
  /* ... */
}
.pruebasass2 {
  background-color: var(--theme-color2);
  /* ... */
}